<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include 'partials/metadata.html.twig' %}
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        {% block stylesheets %}
            {% do assets.add('theme://build/css/nls.css',98) %}
            {% do assets.add('theme://build/css/font-awesome.css',99) %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}{% endblock %}
        {{ assets.js() }}

        {% endblock head%}
    </head>

      <body class="{% block body_classes %}{{ page.header.body_classes }}{% endblock %}">

        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}


        <footer>
            <p>Crafted with love by <a href="/guillaume-moigneu">Guillaume Moigneu &lt;nls&gt;</a>.</p>
            <p>Running on <a href="http://getgrav.org/">Grav</a>. Built with <a href="http://sass-lang.com/">Sass</a> / <a href="http://susy.oddbird.net/">Susy</a> / <a href="http://gruntjs.com/">Grunt</a> and hosted on <a href="https://www.debian.org/">Debian</a> with <a href="https://www.varnish-cache.org/">Varnish</a> &amp; <a href="https://www.docker.com/">Docker</a>.
        </footer>
        {% block bottom %}{% endblock %}

    </body>
</html>
